version: '3.8'

services:
  app:
    build: .
    container_name: flask_app
    command: gunicorn -w 2 -b 0.0.0.0:8000 app:app
    expose:
      - "8000"
    volumes:
      - .:/app 

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app 
